# Go
/bin/
*.exe
*.test
*.out
vendor/
.cache/

# Nix
.direnv/
result
result-*

# Editor
.idea/
.vscode/
*.swp
*.swo

# Env
.env

# Assets (temporary; add to version control when finalized)
web/assets/**/*.png

tmp/

.codex
